.wrapper {
    padding-top: 16px;
    position: relative;
    &::before {
        content: '';
        width: 90%;
        height: 1px;
        background-color: rgba(22, 24, 35, 0.12);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.label-title {
    padding: 0 12px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.093px;
    color: rgba(22, 24, 35, 0.75);
}
