.wrapper {
    margin-bottom: 8px;
}

//menu item
.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    color: var(--text-color);
    border-radius: 4px;
    transition: background ease-in-out 200ms;
    &.active {
        color: var(--primary);
        .iconLeft {
            display: none;
        }
        .iconLeftACtive {
            display: flex;
        }
    }
    &:hover {
        background-color: #16182308;
    }
}

.menu-item-title {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: -0.028px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.iconLeft {
    display: flex;
}
.iconLeftACtive {
    display: none;
}
